.form_header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}

.form_header h2 {
    font-family: 'Sevillana';
    font-size: 40px;
    color: var(--color-primary);
}

.form_header h3 {
    font-family: 'Tangerine';
    font-size: 32px;
    color: var(--color-secondary);
}

.form_header h5 {
    font-family: 'Tangerine';
    font-size: 24px;
    color: var(--color-secondary);
}