.forgotpwdotp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotpwdotp .form_button {
    margin-top: 40px;
}

.forgotpwdotp .form_text {
    margin-bottom: 30px;;
}

.forgotpwdotp .form_text #email {
    margin: 5px 0;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #45f3ff;
}

.forgotpwdotp .forgotpwdotp_resendotp {
    display: flex;
}

.forgotpwdotp_resendotp .form_link {
    display: flex;
    width: fit-content;
    text-align: right;
    margin-top: 2px;
    margin-left: 5px;
    margin-right: 5px;
    user-select: none;
    font-family: 'Poppins';
}

.forgotpwdotp_resendotp #countdown {
    margin-left: auto;
    user-select: none;
    pointer-events: none;
    cursor: none;
}

.otp_input_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 40px;
    gap: 5%;
}

.otp_input {
    display: flex;
    text-align: center;
    width: 40px;
    height: 40px;
    font-style: 'Poppins';
    font-size: 18px;
    border: 1.5px solid #45f3ff;
    border-radius: 5px;
    color: transparent;
    text-shadow: 0 0 0 #45f3ff;
    background-color: transparent;
    transition: 0.2s ease;
}

.otp_input:focus {
    font-weight: bold;
    border: none;
    outline: 1.5px solid #ff01fa;
}

.otp_input::selection {
    background-color: transparent;
}