.forgotpwd {
    display: flex;
    align-items: center;
    justify-content: center;
}

.forgotpwd_form_container .form_input {
    margin-top: 5px;
}

.forgotpwd_form_container .form_captcha {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.forgotpwd_form_container .form_button {
    margin-top: 20px;
}