.regsuccess {
    display: flex;
    align-items: center;
    justify-content: center;
}

.regsuccess .form {
    width: 420px;
    height: 300px;
}

.regsuccess .form_container .form_button {
    margin-top: 50px;
}

.regsuccess .form_container .form_link {
    text-align: right;
    margin-top: 10px;
    margin-right: 5px;
    font-family: 'Poppins';
}

.regsuccess .form_container .form_text {
    margin-top: 15px;
}

.regsuccess .form_container .form_text #email {
    margin: 5px 0;
    letter-spacing: 0.05em;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #45f3ff;
}