.register {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

.avatar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    box-sizing: content-box;
    cursor: pointer;
}

.avatar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 2px solid #ff01fa;
    border-radius: 50%;
}

.avatar_container_img {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 1px solid #45f3ff;
    border-radius: 50%;
}

.avatar img {
    width: 60px;
}

.register_form_container .form_input_text,
.register_form_container .form_input_password {
    margin-top: 2px;
}

.register_form_container input[type='date']:invalid {
    color: transparent;
}

.register_form_container input[type='date']:focus {
    color: #45f3ff;
}

.register_form_container .form_button {
    margin-top: 25px;
}

.register_form_footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 500;
    gap: 8px;
    user-select: none;
}

.register_form_footer .label {
    color: #8f8f8f;
}

.register_form_footer .register_form_link {
    margin-top: 3px;
    font-size: 13px;
}

/* Animation */
@keyframes animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}