.resetpwdsuccess_form {
    position: relative;
    width: 380px;
    height: 450px;
    border-radius: 8px;
    background-color: #1c1c1c;
    overflow: hidden;
}

.resetpwdsuccess_form::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
    transform-origin: bottom right;
    animation: animation 6s linear infinite;
}

.resetpwdsuccess_form::after {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, transparent, #ff01fa, #ff01fa);
    transform-origin: bottom right;
    animation: animation 6s linear infinite;
    animation-delay: -3s;
}

.resetpwdsuccess_form_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px 30px;
    inset: 5px;
    border-radius: 6px;
    background-color: #28292d;
    z-index: 2;
}

.resetpwdsuccess_form_container .form_text {
    display: flex;
    margin-top: 15px;
    text-align: center;
    gap: 8px;
}

.form_text #email {
    margin: 7px 0;
    font-family: 'Prata';
    font-size: 14px;
    color: #ff01fa;
}

.resetpwdsuccess_form_container .form_button {
    margin-top: 50px;
}