.screen {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
}

.text {
    font-family: 'Poppins';
    font-size: 108px;
    font-weight: bold;
    color: var(--color-secondary);
}