.form_input_password {
    display: flex;
    position: relative;
}

.form_input_password input {
    position: relative;
    width: 100%;
    padding: 18px 10px;
    border: none;
    outline: none;
    font-size: 1em;
    letter-spacing: 0.05em;
    color: var(--color-primary);
    background-color: transparent;
}

.form_input_password label {
    position: absolute;
    left: 0;
    padding: 18px 10px;
    font-family: 'Poppins';
    font-size: 0.9em;
    letter-spacing: 0.025em;
    pointer-events: none;
    user-select: none;
    color: var(--color-primary);
    transition: 0.5s;
}

.form_input_password #eye {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    padding: 26px 0 10px 0;
    color: var(--color-primary);
    transition: 0.25s;
    opacity: 0;
    cursor: pointer;
}

.form_input_password hr {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    border: none;
    outline: none;
    pointer-events: none;
    user-select: none;
    background-color: var(--color-primary);
    border-radius: 4px;
    transition: 0.5s;
}

.form_input_password input:focus,
.form_input_password input:valid {
    padding: 26px 10px 10px 10px;
}

.form_input_password input:focus~label,
.form_input_password input:valid~label {
    padding: 5px 10px;
    font-size: 0.7em;
    color: var(--color-secondary);
}

.form_input_password input:valid~#eye {
    opacity: 1;
}

.form_input_password input:focus~hr,
.form_input_password input:valid~hr {
    background-color: var(--color-secondary);
}

.form_input_password input::-ms-reveal, input::-ms-clear {
    display: none;
}